*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}
body{
    font-family: calibri;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background-color: ghostwhite;
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.wrapper .sidenav a{
    color:black;
    text-decoration: none;
    font-size:20px;
}
.wrapper .sidenav{
    position:fixed;
    right:0;
    top:0;
    width:20vw;
    height:100vh;
    background-color: ghostwhite;
    padding: 20px;
}
.wrapper .sidenav h1{
    color: black;
    font-size:22pt;
    text-align: center;
    padding:15px;
    line-height:30px;
    overflow:hidden;
    border-bottom: 1px dotted grey;
    margin-bottom: 50px;
}
.wrapper .sidenav ul{
    overflow: hidden;
}
.wrapper .sidenav img{
    transition: 5s;
}
.wrapper .sidenav img:hover{
    transition: 5s;
    transform:rotate(360deg) scale(1.3);
}
.wrapper .sidenav ul li{
    list-style:none;
    padding:15px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: 1s;
}
.wrapper .sidenav li:hover{
    color: grey;
    transition: 1s;
    transform: scale(1.1);
}
.wrapper .main-content{
    width:80vw;
    padding:0;
    overflow-x:scroll;
    z-index:1;
}
.wrapper .main-content h1{
    color:black;
    margin-bottom: 20px;
    font-size:40px;
}
.wrapper .main-content .graph{
    transition: 1.5s;
}
.wrapper .main-content .graph:hover{
    transition: 1.5s;
    left:50%;
    top:50%;
    transform: scale(1.1);
}
td{
    overflow:hidden;
}
section{
    height: 100vh;
    width: 75vw;
    padding:40px;
    right:0;
}
#section1{
    background-color: ghostwhite;
}
#section2{
    background-color: ghostwhite;
}
#section3{
    background-color: ghostwhite;
}
#section4{
    background-color: ghostwhite;
}
#section5{
    background-color: ghostwhite;
}
iframe{
    margin:auto;
}
.main-content section div{
    width:450;
    height:260;
    overflow:hidden;
}
.intro{
    position:fixed;
    z-index: 2;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color:#ffffff;
    transition:2s;
}
.logo{
    position:absolute;
    left:45%;
    top:40%;
    transform: translate(-50%,-50%);
    opacity:0;
}
.logo.active{
    bottom:0;
    opacity:1;
    transition:ease-in-out 1.5s;
    transform: scale(3);
}
.logo.fade{
    bottom:200px;
    opacity:0;
    transform: rotate(180deg);
    transition: ease-in-out 1.5s;
}
